/*========================*/
/* ingrediens page */
/*========================*/
.ingredients-container h3 {
    text-align: center;
    height: 4em;
    line-height: 4;
    color: var(--clr-grey-1);
}

.title-section {
    margin: 2em auto;
    line-height: 2;
    padding: 2.5em;
    width: 80%;
    border: 3px solid var(--clr-red-1);
}
.item-info-section {
    list-style: none;
    display: flex;
    font-size: 0.8em;
    font-weight: 700;
    justify-content: space-around;
    line-height: 2;
    color: var(--clr-red-1);
}

.item-info-section li {
    border-left: 2px solid var(--clr-red-1);
    padding-left: 0.5em;
}

.ingr-image {
    width: 50%;
    height: 17em;
    margin: auto;
    position: relative;
    bottom: 90px;
    right: 94px;
    padding: 0;
}

.ingr-image img {
    width: 100%;
    height: 100%;
}

.ingr-image figcaption {
    color: #808080;
    text-align: right;
    font-weight: 700;
    font-size: 0.8em;
    font-style: italic;
}

.ingredients {
    border: 1px solid var(--clr-light-grey);
    width: 80%;
    margin: 1em auto 3em;
    padding: 0.5em 1.5em;
}

.ingredients h2 {
    padding: 1em 0;
}

.yield {
    padding: 1em 0;
    line-height: 3em;
    font-size: 0.8em;
}

.yield::after {
    content: "";
    height: 4px;
    width: 100%;
    display: block;
    background-color: var(--clr-light-grey);
}

.ingrediens-list {
    list-style: disc;
    line-height: 2;
    font-size: 0.8em;
    font-weight: 400;
}

.ingrediens-line {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.ingrediens-line li {
    width: 100%;
}

#weight {
    font-weight: 700;
    text-align: center;
    text-align: center;
}

#cat {
    font-style: italic;
}

@media (max-width: 992px) {
    .ingr-image {
        width: 60vw;
        right: 0;
    }
}

@media (max-width: 768px) {
    .title-section {
        padding: 2em 0;
        width: 90%;
    }

    .item-info-section {
        font-size: 0.4em;
    }

    .ingr-image {
        width: 60vw;
        height: 10em;
        right: 0;
    }

    .ingredients {
        padding: 0.5em 0.5em;
        margin: 0;
        width: 100%;
    }

    .ingrediens-list {
        font-size: 0.4em;
        padding-left: 1em;
    }

    .title-section h2 {
        font-size: 1em;
    }
}

@media (max-width: 476px) {
    .title-section {
        width: 98%;
    }

    .ingr-image {
        width: 80vw;
    }

    .item-info-section {
        font-size: 0.8em;
        display: block;
    }

    .item-info-section li {
        border-left: none;
    }

    .ingr-image figcaption {
        text-align: center;
    }

    #cat {
        display: none;
    }
}

/*
@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 376px) {
} */
