/*========================*/
/* NavBar */
/*========================*/

.navbar {
    border-bottom: 1px solid var(--clr-grey-1);
}

.navbar,
.slider-section,
.log-list,
.follow-icones,
.follow-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}
.navbar ul {
    list-style: none;
    color: var(--clr-grey-1);
}
.navbar a {
    color: var(--clr-grey-1);
    font-weight: 700;
    text-decoration: none;
}
.slider-section,
.follow-section {
    margin: 0 1em;
    width: 30%;
}
.log-list,
.follow-icones {
    flex: 1;
}

.logo-img {
    height: 2em;
}

.follow-icones a {
    color: var(--clr-red-1);
}

.slider-btn {
    color: var(--clr-grey-1);
    font-size: 1.5em;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.search-btn {
    color: var(--clr-grey-1);
    font-weight: 700;
    font-size: 1em;
    width: 7em;
    background: transparent;
    border: none;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.navbar ul li:hover,
.navbar a:hover,
.search-btn:hover,
.slider-btn:hover {
    transition: var(--transition);
    color: var(--clr-black);
}

@media (max-width: 1100px) {
    .follow-icones {
        display: none;
    }
    .log-list {
        display: none;
    }
    .log-list:first-child {
        display: block;
    }
}

@media (max-width: 768px) {
    .slider-section,
    .follow-section {
        margin: 0;
    }
}

@media (max-width: 376px) {
    .slider-btn {
        font-size: 2em;
    }
    .logo-img {
        height: 1.5em;
    }
    .search-btn {
        font-size: 1em;
    }
}

/*========================*/
/* overrlay */
/*========================*/

.overlay {
    background: url(../food-img/backgrounds/4.jpg) center/cover no-repeat;
    height: 90vh;
    position: relative;
}

.overlay-content {
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.overlay-content h1 {
    font-size: 4em;
    color: white;
    width: 60vw;
    letter-spacing: 0.15em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a;
}

.overlay-form {
    width: 80%;
    font-size: 2.5em;
    line-height: 1.6;
    height: 2em;
    margin: auto;
    border: none;
    cursor: pointer;
    background: #ffffffb0;
    transition: var(--transition);
    color: gray;
}

.overlay-form svg {
    position: relative;
    top: 15px;
}

.overlay-form h3 {
    font-style: italic;
}

.overlay-form:hover {
    color: var(--clr-black);
    background-color: white;
}

@media (max-width: 1100px) {
    .overlay-content h1 {
        width: 100vw;
    }
}

@media (max-width: 768px) {
    .overlay-content h1 {
        font-size: 12vw;
    }

    .overlay-form {
        font-size: 2em;
    }
}

@media (max-width: 376px) {
    .overlay-form {
        width: 90vw;
        font-size: 1.8em;
    }
}
