/*========================*/
/* search field */
/*========================*/

.search-field {
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background: #fffffff5;
}

.search-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
}

.search-form input {
    font-size: 3em;
    width: 100%;
    border: none;
    border-bottom: 2px solid #8a8787;
    font-weight: 700;
    color: #000000;
    background: transparent;
    padding-left: 1em;
    outline: none;
    letter-spacing: 4;
}

.cls-search-field {
    font-size: 2em;
    background-color: transparent;
    outline: none;
    border: none;
    position: absolute;
    right: 4em;
    top: 3em;
    color: grey;
}

.search-field-btn {
    font-size: 2.7em;
    position: absolute;
    top: 0.3em;
    background: transparent;
    border: none;
    right: 2em;
    color: grey;
}

.search-field-btn:hover {
    color: var(--clr-black);
    transition: var(--transition);
    cursor: pointer;
}

.cls-search-field:hover {
    color: var(--clr-red-1);
    transition: var(--transition);
    cursor: pointer;
}

@media (max-width: 768px) {
    .search-field-btn {
        right: 0;
        top: 0;
        font-size: 2em;
    }

    .search-form input {
        font-size: 2em;
    }

    .cls-search-field {
        right: 1em;
    }
}
