/*========================*/
/* NavBar */
/*========================*/

.navbar {
    border-bottom: 1px solid var(--clr-light-grey);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 90%;
    margin: auto;
}
.navbar ul {
    list-style: none;
    color: var(--clr-grey-1);
    font-size: var(--font-normal-size);
}

.navbar a {
    font-weight: 400;
    font-family: "Balsamiq Sans", cursive;

    text-decoration: none;
    color: var(--clr-grey-1);
    font-size: var(--font-normal-size);
}

.logo {
    display: inline-block;
    width: 40%;
    text-align: center;
}
.logo-img {
    height: 1.5em;
}

.slider-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1 1 0px;
}
.slider-btn {
    color: var(--clr-grey-1);
    font-size: 1.5em;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.log-list {
    display: flex;
    justify-content: space-evenly;
    flex: 1 1 0px;
}

.follow-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1 1 0px;
}

.follow-icones {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1 1 0px;
}

.follow-icones svg {
    font-size: 1.2em;
    color: var(--clr-red-1);
}
.follow-icones li {
    display: inline-block;
}
.follow-icones h4 {
    font-family: "Balsamiq Sans", cursive;

    font-size: var(--font-normal-size);
}
.search-btn {
    color: var(--clr-grey-1);
    font-weight: 700;
    font-size: var(--font-normal-size);
    background: transparent;
    border: none;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.search-btn span {
    font-family: "Balsamiq Sans", cursive;
}

.navbar ul li:hover,
.navbar a:hover,
.search-btn:hover,
.slider-btn:hover {
    cursor: pointer;
    transition: var(--transition);
    color: var(--clr-black);
}

@media (max-width: 1100px) {
    .follow-icones {
        display: none;
    }
    .search-btn svg {
        font-size: 1.3em;
    }
    .log-list,
    .hide-search {
        display: none;
    }
    .log-list:first-child {
        display: block;
    }
}

@media (max-width: 768px) {
    .slider-section,
    .follow-section {
        margin: 0;
    }
    .logo-img {
        height: 1.2em;
    }

    .slider-btn,
    .search-btn svg {
        font-size: 1.8em;
    }
}
