* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*========================*/
/* serach Bar */
/*========================*/
.search-section {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  display: flex;
  height: 4em;
  align-items: center;
  justify-content: space-around;
}

.search-form {
  border: 1px solid #ff057c;
  padding: 0.5em 0.2em;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.input-field {
  height: 2em;
  margin: 0 1em;
  outline: none;
  font-weight: 700;
  text-align: center;
}

.sub-btn {
  background-image: linear-gradient(-225deg, #ff057c 0%, #8d0b93 50%, #321575 100%);
  color: white;
  outline: none;
  border: none;
  padding: 0.7em 0.5em;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
}

/*========================*/
/* Ctagories */
/*========================*/

.categories {
  padding: 2em 0;
  text-align: center;
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}

.btns-categories {
  display: flex;
  flex-wrap: wrap;
  height: 4em;
  align-items: center;
  justify-content: space-around;
}

.category-btn {
  padding: 0.6em 0.5em;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

/*========================*/
/* Content */
/*========================*/
.content-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 1em;
}

.food-item {
  border: 1px solid black;
  font-size: 0.8em;
  width: 100%;
  text-align: center;
}

.food-item img {
  border-radius: 50%;
}

.food-info {
  list-style: none;
  line-height: 1.8em;
  text-align: initial;
}

.item-btns {
  display: flex;
  height: 4em;
  justify-content: space-around;
  align-items: center;
}

.ingredient-btn,
.nutrition-btn {
  padding: 1em;
  outline: none;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  color: white;
}

.ingredient-btn {
  background-color: green;
}

.nutrition-btn {
  background-color: #188ad6;
}
/*========================*/
/* Footer */
/*========================*/
