*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Serif Pro", serif;
}

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);

  --clr-red-1: #f93f23;
  /* darkest grey - used for headings */
  --clr-grey-1: #818588;
  --clr-green-1: #c0ef76;

  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*========================*/
/* Ctagories */
/*========================*/

.content-page {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.content-page > h2 {
  text-align: center;
  height: 4em;
  line-height: 4;
  color: white;
}

.content-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 1em;
  grid-gap: 0.3em;
  /* height: 100vh; */
}

.food-item {
  position: relative;
  border: 2px solid #d4b5b1;
  border-radius: 10px;
  width: 100%;
  box-shadow: 2px 4px 4px #00000073;
  height: 15em;
}
.food-item img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.description {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transition: ease-in-out 0.3s;
}

.food-title {
  background: #00000075;
  color: white;
  font-size: 1.2em;
}

.description:hover {
  background: transparent;
}

.food-info {
  list-style: none;
  line-height: 1.8em;
  text-align: initial;
}

.ingredient-btn,
.nutrition-btn {
  padding: 1em;
  outline: none;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  color: white;
  width: 50%;
  transition: var(--transition);
  cursor: pointer;
}

.ingredient-btn {
  background-color: var(--clr-green-1);
  color: black;
}
.ingredient-btn:hover {
  background-color: #71cc71;
}

.nutrition-btn {
  background-color: #188ad6;
}
.nutrition-btn:hover {
  background-color: #0059ff;
}
